.container {
    background-color: rgba(138, 133, 133, 0.76);
    height: 75vh;
    display: flex;
}

.aside {
    flex-grow: 1;
    background-color: rgba(168, 136, 136, 0.76);
}

.receiver,
.sender,
.updates {
    width: fit-content;
    padding: 5px 15px;
}

.reciever {
    border-radius: 10px;
    background-color: #a49b80;
    border-bottom-left-radius: 0;
    margin-left: 10px;
}

.sender {
    border-radius: 10px;
    background-color: #e2814c;
    border-bottom-right-radius: 0;
    margin: 0 10px 0 auto;
}